.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin: 8px 0 32px;
  color: #373e49;
}

.badgesContainer {
  display: flex;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100px;
  overflow: hidden;
}

.badgeContainer {
  width: 50px;
  text-align: left;
}

.badgeImage {
  max-width: 100%;
}

.badgeTitle {
  font-size: 10px;
  line-height: 12px;
  -moz-hyphens: auto;
  hyphens: auto;
  font-family: Inter;
}

.badgeTitle:first-letter {
  text-transform: uppercase;
}
