.heading {
  font-family: Montserrat;
  text-align: center;
  font-weight: 400;
  color: #213c65;
  font-size: 30px;
}

.timeControls {
  font-family: "Inter", sans-serif;
  margin: 10px 24px;
}

.timeControl {
  cursor: pointer;
  color: #373e49;
  font-size: 12px;
  line-height: 12px;
}

.timeControl:hover {
  text-decoration: underline;
}

.timeActive {
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.graph {
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
