.container {
  height: 100%;
}

.indexContainer {
  background: url("../../../public/background.png");
  background-size: cover;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer {
  background: rgba(196, 196, 196, 0.1);
}
