.container {
  height: 100%;
}

.indexContainer {
  background: url("../../../public/background.png");
  background-size: cover;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.indexTitle {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
}

.chartContainer {
  background: rgba(196, 196, 196, 0.1);
  padding: 16px;
}
