.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.indexContainer {
  background: url("../../../public/background-4k.png");
  background-size: cover;
  background-position: center;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.coinsButton {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.indexTitle {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
}

.achievementsContainer {
  padding: 16px;
  background: rgba(196, 196, 196, 0.1);
  flex-grow: 1;
}

.invisibleLink {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.chartContainer {
  background: rgba(196, 196, 196, 0.1);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.bar {
  margin-bottom: 8px;
}
